body {
    background-image: url("Images/DestructionIsEvolutionary.jpg");
    background-position: center;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    text-align: center;
    cursor: crosshair;
  }

  h1 {

  }

  h2 {

  }

  h3 {

  }

  h4{

  }